@model IEnumerable<apiconsume.Models.employee>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script >

        $(function(){
            $.ajax({
                url: 'http://localhost:53369/api/employees',
                type: 'GET',
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {
                        var s = '<tr>';
                        s += '<td>' + response[i].Id + '</td>';
                        s += '<td>' + response[i].Ename + '</td>';
                        s += '<td>' + response[i].Position + '</td>';
                        s += '<td>' + response[i].Age + '</td>';
                        s += '<td>' + response[i].Salary + '</td>';
                        s += '</tr>'

                        $('#Empdiv').append(s);
                    }
                },
                error: function(reason){},

            });
            $('#btninsert').click(function () {

                var emp = { 'Id': 8, 'Ename': 'ishu', 'Position': 'sd', 'Age': 87, 'Salary': 85000 };
                $.ajax({
                    url: 'http://localhost:53369/api/employees',
                    type: 'Post',
                    data:emp,
                    success: function () {
                        alert('insert sceess')
                    },
                    error:
                        function (reason) {
                            alert('error')
                        },
                });


            });

        });
    </script>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
    <h3>calling api through ajax</h3>
    <input type="button" value="Insert value" id="btninsert" />
    <table id="Empdiv">
        <tr>
            <td>Id</td>
            <td>Ename</td>
            <td>Position</td>
            <td>Age</td>
            <td>Salary</td>

        </tr>

    </table>
</body>
</html>
